<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Me</h2>
            <p>This is a blog created by Nayan Krishna using the basics of Node.js, the express package, as well as a MongoDB database (implemented with mongoose).</p>
        </div>
    <%- include('./partials/footer.ejs') %>

    </body>
</html>